@keyframes show-sparks {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide-sparks {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon .contour {
  fill: var(--contour-color, #000);
  transition: fill 0.1s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill var(--time, 0.3s) ease 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill var(--time, 0.3s) ease;
}

.like-icon:hover .core {
  fill: var(--contour-color, #000);
  transition: fill var(--time, 0.3s) ease;
}

.like-icon:hover .main-body {
  fill: var(--contour-color, #000);
  transition: fill var(--time, 0.3s) ease 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill var(--time, 0.3s) ease;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill var(--time, 0.3s) ease 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill var(--time, 0.3s) linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill var(--time, 0.3s) linear 0.06s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill var(--time, 0.3s) linear 0.05s;
}

.like-icon.is-liked .heart {
  animation: scale var(--time, 0.3s) ease-in 0.1s 1;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: show-sparks 0.3s ease-in 0.3s 1 forwards,
    hide-sparks 0.3s ease-in 0.6s 1 forwards;
}
