.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--regular-font-weight);
  font-size: var(--body-font-size);
  max-inline-size: var(--max-width);
  background-size: cover;
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--accent-font);
  font-weight: var(--regular-font-weight);
  text-transform: uppercase;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  line-height: 100%;
  padding: 128px 121px;
  margin-top: 102px;
  margin-bottom: 102px;
}

.header__logo {
  font-size: var(--logo-font-size);
  margin-bottom: 20px;
  padding: 25px 0;
  position: relative;
  text-align: center;
}

.header__title {
  font-size: var(--title-font-size);
  text-wrap: nowrap;
}

.main {
  display: flex;
  gap: var(--card-gap);
  background-color: var(--bg-color);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100%;
  outline: 2px solid var(--main-color);
}

.card__image-container {
  position: relative;
  background-color: grey;
}

.card__image--filter-1 {
  filter: saturate(35%) contrast(85%) brightness(90%) sepia(30%)
    hue-rotate(-10deg) grayscale(15%);
}

.card__image--filter-2 {
  filter: brightness(108%) contrast(95%) saturate(362%) hue-rotate(360deg);
}

.card__image--filter-7 {
  filter: blur(2px) brightness(96%) hue-rotate(98deg) saturate(141%)
    contrast(55%);
}

.card__image--filter-6 {
  filter: blur(15px);
}

.card__image--filter-5 {
  filter: sepia(100%);
}

.card__image--filter-4 {
  filter: invert(76%);
}

.card__image--filter-3 {
  filter: hue-rotate(31deg) saturate(128%) contrast(107%);
}

.card__title {
  padding: 3px 10px;
  font-weight: var(--extra-bold-font-weight);
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: block;
  object-position: center;
  position: relative;
  z-index: 0;
}

.card__label {
  position: absolute;
  font-family: var(--accent-font);
  font-size: var(--accent-font-size);
  text-transform: uppercase;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  text-shadow: var(--shadow);
  opacity: 0.5;
  z-index: 1;
  color: white;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: var(--section-padding);
}

@supports (
  (text-stroke: 1px var(--main-color)) or
    (-webkit-text-stroke: 1px var(--main-color))
) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--main-color);
    text-stroke: 1px var(--main-color);
  }
}

.card__actions {
  display: flex;
  align-self: end;
  gap: 12px;
}

.card__like-button {
  width: 130px;
  height: var(--button-height);
}

.button {
  border: 2px solid var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  color: var(--bg-color);
  transition: box-shadow var(--focus-transition);
  cursor: pointer;
  background-color: var(--bg-color);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  transition: translate var(--hover-transition);
  translate: -100%;
}

.button:hover::before {
  translate: 0%;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--main-color);
}

.button__text {
  font-size: var(--accent-font-size);
  font-family: var(--accent-font);
  mix-blend-mode: difference;
  z-index: 1;
  position: relative;
}

.button__icon {
  mix-blend-mode: difference;
  fill: white;
  inline-size: 21px;
  block-size: 21px;
  z-index: 1;
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  background: none;
  transition: outline var(--focus-transition);
  padding: 0px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
}

.save-button {
  width: 335px;
  height: 55px;
  gap: 8px;
  margin-bottom: 100px;
  flex-wrap: wrap;
  z-index: 0;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog {
  font-family: var(--accent-font);
  text-transform: uppercase;
  line-height: 1.5;
  color: var(--main-color);
  padding-inline: 30px;
  padding-block: 30px;
  font-size: var(--accent-font-size);
  background-color: var(--bg-color);
}

.dialog__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog__inner {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.dialog__text {
  max-inline-size: 234px;
}

.ok__dialog-button button {
  inline-size: 100%;
}

.ok {
  padding: 11px 0;
}

@media (width <= 375px) {
  .header {
    margin-top: 100px;
    margin-bottom: 102px;
    padding: 120px 14px;
  }

  .save-button {
    width: 306px;
    height: 84px;
    flex-direction: column;
  }

  .button__icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog {
    padding: 32px 40px;
  }

  .card__label {
    top: 25px;
    right: 11px;
  }

  .dialog__text {
    max-inline-size: 198px;
  }
}
