:root {
  --main-font: "Inter-Variable", Arial, sans-serif;
  --accent-font: "PressStart2P", "Courier New", monospace;
  --regular-font-weight: 400;
  --extra-bold-font-weight: 800;
  --body-font-size: 18px;
  --accent-font-size: 14px;
  --font-size: 14px;
  --max-width: 700px;
  --main-color: #000000;
  --bg-color: #ffffff;
  --label-color: #000000;
  --card-gap: 50px;
  --time: 0.3s;
  --hover-transition: 0.5s ease-in-out;
  --focus-transition: 0.3s ease;
  --button-height: 38px;
  --section-padding: 25px;
  --contour-color: var(--main-color);
  --animation-fill-color: #ff0000;
  --heart-sparks: var(--animation-fill-color);
  --shadow: -1px 0 #ffffff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  --logo-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --title-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --bg-image: repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
}
